<!-- <h1>Welcome to HomePage!</h1> -->

<!-- <p>Welcome to my index page!</p> -->
<div id="whole_div">

    <link rel="icon" type="image/x-icon" href="./assets/images/snacks1.jpeg">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<%# <img src="./app/assets/images/snacks1.jpeg" alt="bg"> %>
 <%= image_tag 'momsdelishlogo.png', alt: 'bg', class: 'logo'  %> 
<ul class="nav">
    <li><a href="#" class="home">Home</a></li>
    <li><a href="about_us" class="about">About us</a></li>
    <li><a href="login" id="log" class="about" >Login</a></li>
    <%# <li><a href="Index.html"><%= image_tag 'user_icon.png', alt: 'user', class:'user'</a></li>  %>
</ul>

<p class="content">
    Get Exclusive <br>Regional Snacks<br> of India At your<br> Doorstep
</p>
<p class="tagline">
    Experience the taste of mommy's snacks
</p>
 <%= image_tag 'moms_logo.png', alt: 'moms_delish', class:'mom' %>
 <!-- <input type="button" value="Get Started" class="btn"> -->
 <button class="btn"><a href="main">Get Started</a></button>
 
<div class="cont_img">
    <%= image_tag 'Ready-to-cook.png', alt: 'Ready-to-cook.png' %>
    <p>Ready to eat</p>
    <%= image_tag 'Daily-Wholesome-Nutrition.png' , alt: 'Daily-Wholesome-Nutrition.png' %>
    <p>Daily wholesome <br>Nutrition</p>
    <%= image_tag 'Delicious-Home-Made-Taste.png' , alt: 'Delicious-Home-Made-Taste.png' %>
    <p>Home made <br>Delicious taste</p>
    <%= image_tag 'Promise-of-Quality.png' , alt: 'Promise-of-Quality.png' %>
    <p>Promise of quality</p>
    <%= image_tag 'Hands-free-Hygenic-Preparation.png' , alt: 'Hands-free-Hygenic-Preparation.png' %>
    <p>Hands-Free <br> Preparation</p>
</div>
<div class="testi">
    <p class="testimonial">Testimonial</p>
    <%= image_tag 'chat_bubble.png' , alt: 'speech-bubble', class: 'review' %>
    <%= image_tag 'ladoos.png' , alt: 'speech-bubble', class: 'item1' %>
    <%# <%= image_tag 'w_cus.png' , alt: 'speech-bubble', class: 'customer' %> 
    <p class="s_text">Hi I'm Sangeetha. Recently I purchased home made ladoos <br>from mom's delish. It was amazing and I have got health mix<br> that also tastes very good. It contains lot of minerals and protein. </p>
    <%= image_tag 'Chat.png' , alt: 'speech-bubble', class: 'review' %>
    <%= image_tag 'raagi_malt.png' , alt: 'speech-bubble', class: 'item2' %>
    <%# <p>Hands-Free <br> Preparation</p> %>
    <%# <%= image_tag 'm_cus.png' , alt: 'speech-bubble', class: 'customer' %>
    <p class="h_text">Hi I'm Nithish.Few weeks ago, I have purchased home made <br> idly powderfrom mom's delish. It was amazing and I have got <br>health mix like raagi malt that also tastes very good. It contains <br>lot of minerals and protein. </p>
    <%= image_tag 'w_cus.png' , alt: 'speech-bubble', class: 'cus1'%>
    <%= image_tag 'm_cus.png' , alt: 'speech-bubble', class: 'cus2' %> 
</div>

<footer> 
<div class="f1">
    <p>Get In Touch</p>
    <p class="underscore1">_______</p>
    <%= image_tag 'mail.png' , alt: 'speech-bubble', class: ''%>
    <a href=""><p class="side_con">Moms_Delish@gmail.com</p></a>
    <%= image_tag 'phone.png' , alt: 'speech-bubble', class: '' %> 
     <a href=""><p class="side_con">7395993654 / 7695993654 </p></a>
</div>

<div class="f2">
    <p>Moms Delish</p>
    <p class="underscore1">_______</p>
    <a href=""><p class="f2_p">Customer Review</p></a>
    <a href=""><p class="f2_p">Our blogs</p></a>
    <a href=""><p class="f2_p">Terms & Conditions</p></a>
</div>

<div class="f3">
    <p>Download the app</p>
    <p class="underscore1">_______</p>
    <a href=""><%= image_tag 'playstore.png' , alt: 'speech-bubble', class: 'app_download'%></a>
    
    <a href=""> <%= image_tag 'app-store.png' , alt: 'speech-bubble', class: 'app_download' %> </a>
</div>
<div class="">
    <p></p>
</div>

<%# <%= <img src="./assets/images/" alt=""  %>
</footer>
</div>


<!-- <script>
    function show_login(){
        document.getElementById("whole_div").style.display="none";
        document.getElementById("login").style.display="";
    }

    // function cancel(){
    //     document.getElementById("whole_div").style.display="";
    //     document.getElementById("login").style.display="none";
    // }
</script> -->