
<div class="nav_con">
  <div class="nav_subCon">
    <input type="text" placeholder="Find your snack" class="search">
    <a href=''> <%= image_tag 'Search.png', alt: 'Search_Icon', class: 'search_img'%></a>
    <div class="heart">
    <a href=''> <%= image_tag 'User.png', alt: 'Search_Icon', class: 'icons'%></a>
    <a href=''> <%= image_tag 'favorite.png', alt: 'Search_Icon', class: 'icons'%></a>
    <a href=''> <%= image_tag 'cart.png', alt: 'Search_Icon', class: 'icons'%></a>
  </div>
  </div>
  
  <div class="nav_div">
    <ul>
        <li><a href="">Pickles</a></li>
        
        <li><a href="">Papads & Fryums</a></li>
        
        <li><a href="">Health Mix</a></li>
        
        <li><a href="">Sweets</a></li>
        
        <li><a href="">Snacks</a></li>
        
        <li><a href="">Jaggery Sweets</a></li>
    
    </ul>
    </div>
    
</div>
<div class="img_con">
  <a href=''> <%= image_tag 'Sweet.png', alt: 'Search_Icon', class: 'main_img_1'%></a>
  <a href=''> <%= image_tag 'pappads.jpg', alt: 'Search_Icon', class: 'main_img_2'%></a>
  <a href=''> <%= image_tag 'sweets.jpg', alt: 'Search_Icon', class: 'main_img_3'%></a>
  <a href=''> <%= image_tag 'healthMix.png', alt: 'Search_Icon', class: 'main_img_4'%></a>
</div>

<div class="text_div">
  <%= image_tag 'happy.png', alt: 'Happy_customer', class: ''%>
  <%= image_tag 'love.png', alt: 'Prepared_with_love', class: ''%>
  <%= image_tag 'delivered.png', alt: 'delivery', class: ''%>
  <div class="txt">
    <p class="p1">1000+ Happy Customers</p>
    <p class="p2">Prepared with love Everyday</p>
    <p class="p3">Free shipping above Rs 499/-</p>

  </div>
</div>
<div class="hm_podis">
  <p>HOMEMADE PODIS</p>
  <div>

  </div>
</div>

<script src="https://kit.fontawesome.com/0da631b9cc.js" crossorigin="anonymous"></script>