
<div class="nav_con">
  <div class="nav_subCon">
    <input type="text" placeholder="Find your snack" class="search">
    <a href=''> <%= image_tag 'Search.png', alt: 'Search_Icon', class: 'search_img'%></a>
    <div class="heart">
    <a class="ace"  href=''> <%= image_tag 'User.png', alt: 'Search_Icon', class: 'icons', id: 'user' %>
      <div id="log" class="drop-down">
        <ul>
       
        <li><a href="">Login</a></li>
      </ul></div>
    </a>
      
    <a href='wish-list'> <%= image_tag 'favorite.png', alt: 'Search_Icon', class: 'icons'%></a>
    <a href=''> <%= image_tag 'cart.png', alt: 'Search_Icon', class: 'icons'%></a>
  </div>
  </div>
  
  <div class="nav_div">
    <ul>
        <li><a href="/show/pickles">Pickles</a></li>
        
        <li><a href="/show/papads&Fryums">Papads & Fryums</a></li>
        
        <li><a href="/show/healthmix">Health Mix</a></li>
        
        <li><a href="/show/sweets">Sweets</a></li>
        
        <li><a href="/show/snacks">Snacks</a></li>
        
        <li><a href="/show/jaggerysweets">Jaggery Sweets</a></li>
    
    </ul>
    </div>
     <%= button_to "Logout", logout_path, method: :delete %> 
</div>
<div class="img_con">
  <a href='/show/snacks'> <%= image_tag 'Sweet.png', alt: 'Search_Icon', class: 'main_img_1'%></a>
  <a href='/show/papads&Fryums'> <%= image_tag 'pappads.jpg', alt: 'Search_Icon', class: 'main_img_2'%></a>
  <a href='/show/sweets'> <%= image_tag 'sweets.jpg', alt: 'Search_Icon', class: 'main_img_3'%></a>
  <a href='/show/healthmix'> <%= image_tag 'healthMix.png', alt: 'Search_Icon', class: 'main_img_4'%></a>
</div>

<div class="text_div">

  <%= image_tag 'happy.png', alt: 'Happy_customer', class: ''%>
  <%= image_tag 'love.png', alt: 'Prepared_with_love', class: ''%>
  <%= image_tag 'delivered.png', alt: 'delivery', class: ''%>
  <div class="txt">
    <p class="p1">1000+ Happy Customers</p>
    <p class="p2">Prepared with love Everyday</p>
    <p class="p3">Free shipping above Rs 499/-</p>

  </div>
</div>
<div class="hm_podis">
  <p>HOMEMADE PODIS</p>
  <div class="podi_div">
    <a href=""><%= image_tag 'podi.jpg', alt: 'Happy_customer', class: ''%></a>
    <a href=""><%= image_tag 'masala.jpg', alt: 'Prepared_with_love', class: ''%></a>
    <a href=""><%= image_tag 'masala.jpg', alt: 'Prepared_with_love', class: ''%></a>
    <a href=""><%= image_tag 'view.jpg', alt: 'delivery', class: ''%></a>
  
  </div>
</div>
<div class="hm_podis">
  <p>HOMEMADE PICKLES</p>
  <div class="podi_div">
    <a href=""><%= image_tag 'maavadu.jpg', alt: 'Happy_customer', class: ''%></a>
    <a href=""><%= image_tag 'readymix.jpg', alt: 'Prepared_with_love', class: ''%></a>
    <a href=""><%= image_tag 'pickles.jpg', alt: 'Prepared_with_love', class: ''%></a>
    <a href=""><%= image_tag 'etc.jpg', alt: 'delivery', class: ''%></a>
  </div>
</div>
<div class="blog">
<p>Recipe Blogs</p>
<div>
  <p class="line">____________</p>
</div>
<div class="blog_img">
  <a href=""><%= image_tag 'muruku.jpg', alt: 'delivery', class: ''%></a>
  <a href=""><%= image_tag 'Boli.jpg', alt: 'delivery', class: ''%></a>
  <a href=""><%= image_tag 'viewMore.jpg', alt: 'delivery', class: ''%></a>
</div>

</div>

<!-- <script src="https://kit.fontawesome.com/0da631b9cc.js" crossorigin="anonymous">
  
</script> -->
<script>
  function onclickUser(){
    
  }
</script>