<%# <h1>MomsDelishes#index</h1>
<p>Find me in app/views/moms_delishes/index.html.erb</p> %>
<%# <h1>Helllo</h1> %>

<%# <div class="footer">
<p>I did this project - Annapoorani</p>
</div> %>
    <link rel="icon" type="image/x-icon" href="./assets/images/snacks1.jpeg">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<%# <img src="./app/assets/images/snacks1.jpeg" alt="bg"> %>
<%# <%= image_tag 'snacks.jpg', alt: 'bg'  %> %>
<ul class="nav">
    <li><a href="Index.html" class="home">Home</a></li>
    <li><a href="Index.html" class="about">About us</a></li>
    <li><a href="Index.html" class="about">Login</a></li>
    <%# <li><a href="Index.html"><%= image_tag 'user_icon.png', alt: 'user', class:'user'</a></li>  %>
</ul>
<p class="content">
    Get Exclusive <br>Regional Snacks<br> of India At your<br> Doorstep
</p>
<p class="tagline">
    Experience the taste of mommy's snacks
</p>
 <%= image_tag 'moms_delish1.png', alt: 'moms_delish', class:'mom' %>
 <input type="button" value="Get Started" class="btn">
 
<div class="cont_img">
    <%= image_tag 'Ready-to-cook.png', alt: 'Ready-to-cook.png' %>
    <p>Ready to eat</p>
    <%= image_tag 'Daily-Wholesome-Nutrition.png' , alt: 'Daily-Wholesome-Nutrition.png' %>
    <p>Daily wholesome <br>Nutrition</p>
    <%= image_tag 'Delicious-Home-Made-Taste.png' , alt: 'Delicious-Home-Made-Taste.png' %>
    <p>Home made <br>Delicious taste</p>
    <%= image_tag 'Promise-of-Quality.png' , alt: 'Promise-of-Quality.png' %>
    <p>Promise of quality</p>
    <%= image_tag 'Hands-free-Hygenic-Preparation.png' , alt: 'Hands-free-Hygenic-Preparation.png' %>
    <p>Hands-Free <br> Preparation</p>
</div>
<div class="testi">
<%= image_tag 'chat_bubble.png' , alt: 'speech-bubble', class: 'review' %>
<%= image_tag 'w_cus.png' , alt: 'speech-bubble', class: 'customer' %>
<p>Helllo</p>
<%= image_tag 'Chat.png' , alt: 'speech-bubble', class: 'review' %>
<%= image_tag 'm_cus.png' , alt: 'speech-bubble', class: 'customer' %>
<%# <p>Hands-Free <br> Preparation</p> %>
</div>

<%# <footer > %>
<%# <p>Helllo</p> %>
<%# <img src="./assets/images/" alt="">
</footer> %>