<%# <h1>Carts#cart</h1>
<p>Find me in app/views/carts/cart.html.erb</p> %>

 <div class="nav_con">
  <div class="nav_subCon">
  <form action='/search'>
    <input type="text" name='q' placeholder="Find your snack" class="search">
    <%= image_tag 'Search.png', alt: 'Search_Icon', class: 'search_img'%>
  </form>
    <div class="heart">
      <div class="drop-down-container">
        <a class="ace"  href=''> <%= image_tag 'User.png', alt: 'Search_Icon', class: 'icons', id: 'user' %>
       
         <% if session[:current_user_id]  == nil %> 
          <div id="log" class="drop-down">
            <ul>
              <li><a href="/login">Login</a></li>
                <%# <% else %> 
                <%# <li><a href="/logout" data-method="delete">Log Out</a></li> %>
               
            </ul>
          </div>
        </a>
      </div>
      <%else%>
       <div id="log" class="drop-down">
            <ul>
              <%# <li><a href="/login">Login</a></li> %>
               
                <li><a href="/logout" data-method="delete">Log Out</a></li>
               
            </ul>
          </div>
        </a>
      </div>
        <%end %>  
      
    <a href='wish-list'> <%= image_tag 'favorite.png', alt: 'Search_Icon', class: 'icons'%></a>
    <a href='/cart'> <%= image_tag 'cart.png', alt: 'Search_Icon', class: 'icons'%></a>
  </div>
  </div>
  
  <div class="nav_div">
    <ul>
      <li><a href="/show/pickles">Pickles</a></li>
        
      <li><a href="/show/papads&Fryums">Papads & Fryums</a></li>
      
      <li><a href="/show/healthmix">Health Mix</a></li>
      
      <li><a href="/show/sweets">Sweets</a></li>
      
      <li><a href="/show/snacks">Snacks</a></li>
      
      <li><a href="/show/jaggerysweets">Jaggery Sweets</a></li>
    
    </ul>
    </div>
    <!-- <%= button_to "Logout", logout_path, method: :delete %> -->
</div>
<% current_user = session[:current_user_id] %>

<% if current_user == nil %>
 <div class="wl-container">
 
 <%# <p class="wl-empty-content">Your Cart is empty!</p> %>
 <p class="wl-connect-content">Please connect with us! </p><%= image_tag 'smiley.png', alt: 'smiley', class: 'smiley-emoji1'%>
 </div>
 
<% else%>
<% if Cart.where(user_id: current_user['id']) == [] %>
<%# Wishlist.where(user_id: current_user['id']) == []  %>
<div class="wl-container">
 
 <p class="wl-empty-content">Your Cart is empty!</p>
 <p class="wl-connect-content">Please add some products to your Cart! </p><%= image_tag 'smiley.png' , alt: 'smiley', class: 'smiley-emoji1'%>
 </div>
<%else%>
  <%@total_price =0%>
   <%@cart_total_products=0%>
<%Cart.where(user_id: current_user['id']).map do |item|%>
<%# < class= "saved"> item id is <%= item.item_id%>
<% Item.joins(:cart).where(id: item['item_id']).each do |cart_item| %>
 
<div class="cart-container">
 <%# <% @cart_items.each do |cart_item| %>
<div class="cart-whole-item-container">
    <div class="cart-item-container">
        <div class="cart-img-container"> 
          <a href="/item/<%= cart_item['id'] %>">
            <%= image_tag cart_item['img_url'] , alt: 'cart-item', class: 'cart-item-img'%>
          </a>
        </div>
        <div class="cart-bttn">
          <a href="cart_page/<%= cart_item['id']%>">  <%= image_tag 'bin.png' , alt: 'cart-item', class: 'cart-btn-img'%></a>
        
        </div>
    </div>
    <div class="item-content">
      <p class="item-name-ptag">
        <%= cart_item['item_name'].upcase
        %> (  <%= cart_item['quantity']
        %>G  )
      </p>
        <p class="product-quantity">Product quantity = <%= item['item_quantity']%></p>
        <p class="item-price-ptag">
          Rs. <%= cart_item['price'] %>
        </p>
   <% @cart_total_products = @cart_total_products+item['item_quantity']%> 
        <%@pro_price = cart_item['price'] * item['item_quantity']%>
        <%@total_price = @total_price + @pro_price%>
    </div>
    
  </div>
    <%# <% end %>  
</div>
<%# <%@price = Item.find(cart_item.id).price%> 
<%end%> 
<%end%>
<%end%>

 

         
<div class="cart-total-amount">
<div class='cls-icon' onclick="this.parentNode.style.display='none'">X</div>  
  
    
  <div>
 

   <%# <%cart_item_id.item_quantity%> 
   <% @cart_items.each do|items|   %>
   <%@quantity_price = items.price  %>
   <% p @quantity_price%>
   <%end%> 

   <%# <%@product_total_price = @quantity_price * @quantity %> 
  <% p @product_total_price %> 
   <%  Cart.all.map do |cart_item_id| %> 
  
   <% @quantity = cart_item_id.item_quantity%>
   

  <% p @cart_total_products%>
  <%@product_total_price = @quantity_price * @quantity %>
  
  <%@first_p=@product_total_price%>
  <% p @product_total_price %>

 
  
  
   <%end%>
 

   <p class='total-products'>Total Products = <%=@cart_total_products%></p>
  <%= @cart%>
   <p class='total_amount'> Total Amount = Rs. <%= @total_price %> </p>
 <a href="/payment"><p class="buy-now">Buy now</p></a> 
</div>
 <%# <%end%> 
<%end%>
 <%# <%end%>  
