<%# <h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p> %>

<div class="nav_con">
  <div class="nav_subCon">
    <input type="text" placeholder="Find your snack" class="search">
    <a href=''> <%= image_tag 'Search.png', alt: 'Search_Icon', class: 'search_img'%></a>
    <div class="heart">
    <a href=''> <%= image_tag 'User.png', alt: 'Search_Icon', class: 'icons'%></a>
    <a href='wish-list'> <%= image_tag 'favorite.png', alt: 'Search_Icon', class: 'icons'%></a>
    <a href=''> <%= image_tag 'cart.png', alt: 'Search_Icon', class: 'icons'%></a>
  </div>
  </div>
  
  <div class="nav_div">
    <ul>
      <li><a href="/show/pickles">Pickles</a></li>
        
      <li><a href="/show/papads&Fryums">Papads & Fryums</a></li>
      
      <li><a href="/show/healthmix">Health Mix</a></li>
      
      <li><a href="/show/sweets">Sweets</a></li>
      
      <li><a href="/show/snacks">Snacks</a></li>
      
      <li><a href="/show/jaggerysweets">Jaggery Sweets</a></li>
    
    </ul>
    </div>
    <!-- <%= button_to "Logout", logout_path, method: :delete %> -->
</div>

<div class="item-container">
  <button class="add-btn"><a href="add">Add Item</a></button>
  <% if flash[:notice] %>
  <div class="flash-msg"><%= flash[:notice] %></div>
<% end %>
 <% items.each do |product| %>
   <div class="img_div1">
    <!-- <a href=""> <%= image_tag 'like.png' , alt: 'wishlist-img1', class: 'save-item'%></a> -->
     <div class="img_div"> 
       <a href="/item/<%= product['id'] %>"><%= image_tag product.img_url , alt: 'img' %>  </a>
     </div>
    
      <div class="div_con">
        <!-- <h1><%=product.quantity%></h1> -->
        <!-- <a href="/wishlist/<%= product['id']%>"> <%= image_tag 'eye.png' , alt: 'eye', class: 'eye-img'%></a> -->
        <a href="/wishlist/<%= product['id']%>"> <%= image_tag 'eye.png' , alt: 'eye', class: 'eye-img'%></a>
        <a href=""> <%= image_tag 'Cart.png' , alt: 'eye', class: 'cart-img'%></a>
       
       
      </div>
      
     </div>
  <% end %> 

 </div>